/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
 }

 body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #151515;
}

h1,h2,h3,p,span{
    color: antiquewhite;
}

.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    
    background-size: cover;
  }
  
 
  
  .container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .search-card{
    width: 900px;
  }
  
  .search-form{
    display: flex;
    justify-content: left;
    gap: 5px;
  }

