<div *ngIf="recommended" class="container">

    <mat-card class="example-card" appearance="outlined" *ngFor="let flight of recommended">

        <img mat-card-image [src]="[generateImageURL(flight.destination)]" alt="travel photo">
        <mat-card-content>
            <h1>{{flight.destination}}</h1>
            
            <mat-list role="list">
                <mat-list-item role="listitem">Scheduled At: {{formatDate(flight.scheduledAt)}}</mat-list-item>
                <mat-list-item role="listitem">Scheduled At: {{flight.scheduledAt}}</mat-list-item>
                <mat-list-item role="listitem">Scheduled At: {{flight.scheduledAt}}</mat-list-item>
              </mat-list>
              
        </mat-card-content>
        <mat-card-actions>
            <a mat-button [routerLink]="['/flight/', flight.id]">
                <i class="fa-solid fa-circle-info"></i> Details
            </a>
            
            <a mat-button [routerLink]="['/book/', flight.id]">
                <i class="fa-regular fa-calendar-days"></i> Book Now
            </a>
        </mat-card-actions>
    </mat-card>
</div>