<div *ngIf="recommended" class="container">

    <mat-card class="example-card" appearance="outlined" *ngFor="let flight of recommended">

        <img mat-card-image [src]="[generateImageURL(flight.destination)]" alt="travel photo">
        <mat-card-content>
            <h1>{{flight.destination}}</h1>

            <mat-list role="list">
                <mat-list-item role="listitem">Scheduled At: {{formatDate(flight.scheduledAt)}}</mat-list-item>
                <mat-list-item role="listitem">Flight Number: {{flight.flightNumber}}</mat-list-item>
                <mat-list-item role="listitem">Plane Model: {{flight.plane}}</mat-list-item>
            </mat-list>

        </mat-card-content>
        <mat-card-actions>
            <a mat-button [routerLink]="['/flight/', flight.id]">
                <i class="fa-solid fa-circle-info"></i> Details
            </a>

            <a mat-button [routerLink]="['/book/', flight.id]">
                <i class="fa-regular fa-calendar-days"></i> Book Now
            </a>
        </mat-card-actions>
    </mat-card>
</div>

<div class="container search-container">
    <mat-card appearance="outlined" class="search-card">
        <mat-card-content>
            <h1>Select Your Destination</h1>
            <form class="search-form">
                <mat-form-field class="search-field">
                    <mat-label>Choose your hollyday</mat-label>
                    <mat-select>
                        <mat-option [value]="destination" *ngFor="let destination of destinations">{{destination}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="search-field">
                    <mat-label>Choose your Airline</mat-label>
                    <mat-select>
                        <mat-option [value]="airlines" *ngFor="let airlines of airlines">{{airlines}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="search-field">
                    <mat-label>Choose your Class</mat-label>
                    <mat-select>
                        <mat-option [value]="flyingClass" *ngFor="let flyingClass of flyingClass">{{flyingClass}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="search-field">
                    <mat-label>Return Ticket</mat-label>
                    <mat-select>
                        <mat-option [value]="true" >Yes</mat-option>
                        <mat-option [value]="false" >No</mat-option>
                    </mat-select>
                </mat-form-field>
                
            </form>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button [routerLink]="['/search/']">
                <i class="fa-solid fa-search"></i> Search
            </a>

        </mat-card-actions>

    </mat-card>
</div>