<div *ngIf="destinations" class="container search-container">
    <mat-card appearance="outlined" class="search-card">
        <mat-card-content>
            <h1>Select Your Destination</h1>
            <form class="search-form">
                <mat-form-field class="search-field">
                    <mat-label>Choose your hollyday</mat-label>
                    <mat-select [(value)]="selectedDestination">
                        <mat-option [value]="destination" *ngFor="let destination of destinations">{{destination}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="search-field">
                    <mat-label>Choose your Airline</mat-label>
                    <mat-select [(value)]="selectedAirline">
                        <mat-option [value]="airlines" *ngFor="let airlines of dataService.getAirlines()">{{airlines}} 
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="search-field">
                    <mat-label>Choose your Class</mat-label>
                    <mat-select [(value)]="selectedFlightClass">
                        <mat-option [value]="flightClass" *ngFor="let flightClass of dataService.getflightClass()">{{flightClass}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="search-field">
                    <mat-label>Return Ticket</mat-label>
                    <mat-select [(value)]="selectedReturn"  >
                        <mat-option [value]="true" >Yes</mat-option>
                        <mat-option [value]="false" >No</mat-option>
                    </mat-select>
                </mat-form-field>
                
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button type="button" (click)="doSearch()">
                <i class="fa-solid fa-search"></i> Search
            </button>

        </mat-card-actions>

    </mat-card>
</div>
